<!DOCTYPE html>
<html>
<head>
    <title>Comaquest</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery.bxslider.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/magnific-popup.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/jquery-ui.structure.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}" />
    <script type="text/javascript" src="{% static 'main/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/datepicker-ru.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.bxslider.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/animatescroll.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="fixed-menu">
        <div class="menu-wrapper">
            <div class="edge-of-reality">EDGE OF REALITY</div>
                <div class="top">
                    <div class="logo">
                        <a href="{% url 'main:index' %}"><img src="{% static 'main/images/logo.png' %}" alt="comaquest"/></a>
                    </div>
                    {% block menu %}
                    <div class="menu">
                        <div class="menu-el" onclick="$('body').animatescroll();">ГЛАВНОЕ</div>
                        <div class="menu-el" onclick="$('.info').animatescroll({padding:100});">О ПРОЕКТЕ</div>
                        <div class="menu-el" onclick="$('.quest:first').animatescroll({padding:100});">КВЕСТЫ</div>
                        <div class="menu-el"><a href="{% url 'main:order' %}">БРОНИРОВАНИЕ</a></div>
                        <div class="menu-el" onclick="$('.contact').animatescroll({padding:100});">КОНТАКТЫ</div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        &copy; {% now "Y" %} Реалити-квесты &laquo;COMA&raquo;
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28049775 = new Ya.Metrika({id:28049775,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28049775" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>