{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="carousel">
        <ul class="bxslider">
            {% for image in slider %}
                <li><img src="{{ image.image.url }}"/></li>
            {% endfor %}
        </ul>
    </div>
    <div class="sub-wrapper">
        <div class="info">
            {{ about.text|safe }}
        </div>
        {% for quest in quests %}
            <div class="quest">
                <div class="quest-title">{{ quest.quest.title }}</div>
                <div class="quest-description">
                    <div class="quest-logo"><img src="{{ quest.quest.image.url }}"/></div>
                    <div class="quest-text">{{ quest.quest.description }}</div>
                </div>
                <div class="quest-gallery">
                    {% for image in quest.images %}
                        <a href="{{ image.image.url }}">
                            <img src="{{ image.thumbnail.url }}" />
                        </a>
                    {% endfor %}
                </div>
                <div class="book">
                    <div class="button">ЗАБРОНИРОВАТЬ</div>
                </div>
            </div>
        {% endfor %}

        <div class="contact">
            {{ contact.text|safe }}
        </div>
    </div>
{% endblock %}