{% extends "main/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="carousel"></div>
    <div class="info">

    </div>
    <div class="quest">
        <div class="quest-title">ПИЛА</div>
        <div class="quest-description">
            <div class="quest-logo"></div>
            <div class="quest-text"></div>
        </div>
        <div class="quest-gallery">

        </div>
        <div class="book button">ЗАБРОНИРОВАТЬ</div>
    </div>
    <div class="contact">

    </div>
{% endblock %}