@font-face {
  font-family: bicubik;
  src: url('../fonts/bicubik-regular.ttf');
}
@font-face {
  font-family: calibril;
  src: url('../fonts/calibril.ttf');
}
@font-face {
  font-family: sawesome;
  src: url('../fonts/sawesome.ttf');
}
@font-face {
  font-family: minion-pro;
  src: url('../fonts/MinionPro-Regular.ttf');
}
@font-face {
  font-family: code-bold;
  src: url('../fonts/CODE_Bold.ttf');
}
@font-face {
  font-family: code-light;
  src: url('../fonts/CODE_Light.ttf');
}
ul {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #2b2b2b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #5e5e5e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #5e5e5e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #5e5e5e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #5e5e5e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #5e5e5e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #5e5e5e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#5e5e5e', GradientType=0);
  /* IE6-9 */
}
.button {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #360c0c;
  display: inline-block;
  font-family: bicubik;
  color: white;
  font-size: 16px;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.wrapper {
  position: relative;
  background-color: #bebebe;
  /*** ORDER ***/
}
.wrapper .header {
  height: 100px;
  position: relative;
}
.wrapper .header .fixed-menu {
  position: fixed;
  z-index: 99999;
  height: 100px;
  display: block;
  width: 960px;
  background-color: #360c0c;
}
.wrapper .header .fixed-menu .menu-wrapper {
  position: relative;
}
.wrapper .header .fixed-menu .menu-wrapper .top {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.wrapper .header .fixed-menu .menu-wrapper .top .logo {
  float: left;
}
.wrapper .header .fixed-menu .menu-wrapper .top .logo img {
  padding-top: 24px;
  padding-left: 20px;
}
.wrapper .header .fixed-menu .menu-wrapper .top .menu {
  float: right;
  padding-right: 20px;
  padding-top: 43px;
}
.wrapper .header .fixed-menu .menu-wrapper .top .menu .menu-el {
  display: inline-block;
  font-size: 16px;
  font-family: bicubik;
  cursor: pointer;
  padding-left: 10px;
  color: white;
}
.wrapper .header .fixed-menu .menu-wrapper .top .menu .menu-el:hover {
  color: #8b1b1b;
}
.wrapper .header .fixed-menu .menu-wrapper .top .menu .menu-el a {
  text-decoration: none;
  color: white;
}
.wrapper .header .fixed-menu .menu-wrapper .top .menu .menu-el a:hover {
  color: #8b1b1b;
}
.wrapper .header .fixed-menu .menu-wrapper .edge-of-reality {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #d22d2d;
  font-family: code-light;
  font-size: 108px;
  text-align: center;
  letter-spacing: 7px;
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  opacity: 0.2;
  cursor: default;
}
.wrapper .content {
  background-image: url('../images/background.png');
}
.wrapper .content .carousel {
  margin-bottom: 20px;
}
.wrapper .content .sub-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}
.wrapper .content .sub-wrapper .info {
  padding-left: 20px;
  padding-right: 20px;
  border-top: 4px dashed #565656;
}
.wrapper .content .sub-wrapper .info h1 {
  text-indent: 30px;
}
.wrapper .content .sub-wrapper .info p {
  text-indent: 30px;
}
.wrapper .content .sub-wrapper .quest {
  border-top: 4px dashed #565656;
  padding-top: 35px;
}
.wrapper .content .sub-wrapper .quest .quest-title {
  background-color: #955252;
  font-family: bicubik;
  font-size: 33px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
}
.wrapper .content .sub-wrapper .quest .quest-description {
  background-color: #c5c5c5;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  min-height: 250px;
}
.wrapper .content .sub-wrapper .quest .quest-description .quest-logo {
  width: 267px;
  display: block;
  float: left;
}
.wrapper .content .sub-wrapper .quest .quest-description .quest-text {
  font-family: calibril;
  font-size: 25px;
  display: inline;
  width: 650px;
}
.wrapper .content .sub-wrapper .quest .quest-gallery {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #c5c5c5;
}
.wrapper .content .sub-wrapper .quest .quest-gallery a {
  margin-right: 26px;
}
.wrapper .content .sub-wrapper .quest .quest-gallery a img {
  width: 121px;
  height: 110px;
}
.wrapper .content .sub-wrapper .quest .quest-gallery a:last-child {
  margin-right: 0px;
}
.wrapper .content .sub-wrapper .quest .book {
  margin-bottom: 20px;
  text-align: right;
}
.wrapper .content .sub-wrapper .contact {
  border-top: 4px dashed #565656;
  padding-top: 10px;
  font-family: bicubik;
}
.wrapper .order-wrapper {
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
}
.wrapper .order-wrapper .title-order {
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrapper .order-wrapper .order {
  height: 470px;
  width: 100%;
  position: relative;
  /*** datepicker ***/
}
.wrapper .order-wrapper .order #datepicker {
  float: left;
  margin-bottom: 30px;
  color: grey;
  width: 100%;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker-title {
  text-transform: uppercase;
}
.wrapper .order-wrapper .order #datepicker table.ui-datepicker-calendar {
  width: 645px;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker {
  width: 100%;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker-month {
  font-size: 14pt;
}
.wrapper .order-wrapper .order #datepicker .ui-icon {
  background-image: url("../images/ui-icons_222222_256x240.png");
  width: 16px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker-prev .ui-icon {
  background-position: -80px -192px;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker-next .ui-icon {
  background-position: -48px -192px;
}
.wrapper .order-wrapper .order #datepicker .ui-state-default {
  font-size: 14pt;
  text-align: center;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker th {
  font-size: 9pt;
  width: 14%;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker td a:hover {
  background-color: #d2d0de;
}
.wrapper .order-wrapper .order #datepicker .ui-datepicker-current-day {
  background-color: #d2d0de;
}
.wrapper .order-wrapper .order .fields {
  position: absolute;
  right: 0;
  top: 47px;
  font-size: 9pt;
  color: grey;
  width: 220px;
}
.wrapper .order-wrapper .order .fields .field {
  padding-top: 8px;
}
.wrapper .order-wrapper .order .fields div input[type=text],
.wrapper .order-wrapper .order .fields div textarea {
  width: 100%;
}
.wrapper .order-wrapper .order .fields div input[name=participantAmount][type=text] {
  width: 30px;
}
.wrapper .footer {
  background-color: #360c0c;
  height: 100px;
  text-align: center;
  padding-top: 45px;
  font-family: minion-pro;
  color: white;
  font-size: 42px;
}
